/*sec 3*/
.img1{
  height: 30pc;
  width: 47pc;
}
.para{
	text-align: justify;
}


/* wishlist */
.genrename{
  font-size:2pc;
  margin-left:33pc;
}
.card {
  flex-direction: row;
}
.image{
  height:8pc;
  margin-top: 1pc;
  width: 6pc;
  margin-left:1pc;
}
.add{
  background-color: #8774cc;;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}
.btnclass{
  margin-left: 13pc;
}