{% extends 'header.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <p class="genrename mt-5">All Genres</p>
    <div class="container-fluid ml-3 mt-5">
        <div class="row">
            {% for genre in gen %}
                <button class="btn button btn1 mr-2 mb-2" style="width: 11pc !important;"><a href="/bookson?genre={{genre.id}}">{{genre.title}}</a></button>
            {% endfor %}
           
        </div>
    </div>
{% endblock %}